<div class="container">
  <h2>Formulario de registro </h2>
  <mat-form-field>
    <input matInput [(ngModel)]="nuevoUser.email" type="text" #em="ngModel" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
      <input matInput [(ngModel)]="nuevoUser.password" type="password" #pwd="ngModel" placeholder="Password">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="nuevoUser.username" type="text" #un="ngModel" placeholder="UserName">
</mat-form-field>


  <button mat-raised-button color="primary" (click)="registrar()">Confirmar</button>

</div>
