<div class="center">
<mat-card class="example-card" *ngFor="let tw of listaTweets">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><img mat-card-image [src]="tw.user.photoUrl"></div>
    <mat-card-title>{{tw.user.username}}</mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <p>
     {{tw.mensaje}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="favTweet(tw.id)">LIKE</button>
  </mat-card-actions>
</mat-card>
</div>

<!-- <div>
  <table class="table col-md-10 mx-auto">
    <thead>
      <tr>
        <th>Id</th>
        <th>Mensaje</th>
        <th>Usuario</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tw of listaTweets">
        <td>{{tw.id}}</td>
        <td>{{tw.mensaje}}</td>
        <td>{{tw.user.username}}</td>
      </tr>
    </tbody>
  </table>
</div> -->
